*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 67px;
    padding-top: 1rem;
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 4;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
    padding-inline: 2rem;
}

.hola-logo {
    display: flex;
    align-items: left;
    gap: 15px;
    width: 100%;
    max-width: 199px;
    height: 24px;
}

.stethoscope {
    width: 24px;
    height: 24px;
}

.img-stethos {
    width: 24px;
    height: 24px;
}

.hola-text {
    font-size: 18px;
    font-weight: bold;
}

.navigation1 {
    width: 100%;
    max-width: 446px;
}

ul, a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.ul-nav {
    gap: 50px;
}

.home {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.features {
    color: rgb(0, 0, 0, 80%);
    font-size: 16px;
    font-weight: 500;
}

.blog {
    color: rgb(0, 0, 0, 80%);
    font-size: 16px;
    font-weight: 500;
}

.about {
    color: rgb(0, 0, 0, 80%);
    font-size: 16px;
    font-weight: 500;
}

.navigation2 {
    width: 100%;
    max-width: 295px;
    height: 37px;
}

.ul-login {
    justify-content: end;
    align-items: center;
    gap: 15px;
    height: 37px;
}

.login {
    color: #000000;
    padding: 4px;
}

.book-now {
    color: #000000;
    border: 1.5px solid black;
    width: 117px;
    height: 37px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.main-content {
    z-index: 1;
    position: relative;
}

.hero-text {

}

.informasi-text {

}

.tawaran-text {

}

.deskripsi-text {

}

.hero-button {

}

.the-button {

}

.image {

}

.img-green {

}

.img-doctor {

}

.testimoni {

}

.header-testi {

}

.profil {

}

.img-profil {

}

.name-text {

}

.string {

}

.img-string1 {

}

.img-string2 {

}

.testi-text {

}

.informasi {

}

.kalender {

}

.img-featur1 {

}

.img-kalender {

}

.featur-text {

}

.featur-text1 {

}

.featur-text2 {

}

.lonceng {

}

.img-featur2 {

}

.img-bell {

}

.featur-textt {

}

.featur-text3 {

}

.featur-text4 {

}

.webcam {

}

.img-featur3 {

}

.img-webcam {

}

.featur-texttt {

}

.featur-text5 {

}

.featur-text6 {

}

@media (max-width: 850px) {
    .hola-logo {
        justify-content: center;
    }

    .navigation1,
    .ul-nav,
    .navigation2,
    .ul-login ul li a{
        display: none;
    }
}