*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;

}

.component {
    display: flex;
    flex-direction: column;    
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 75px;
    padding-top: 2rem;
    gap: 50px;
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: 4;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
    padding-inline: 4rem;
    top: 0px;
}

.hola-logo {
    display: flex;
    align-items: left;
    gap: 15px;
    width: 100%;
    max-width: 199px;
    height: 24px;
}

.stethoscope {
    width: 24px;
    height: 24px;
}

.img-stethos {
    width: 24px;
    height: 24px;
}

.hola-text {
    color: #000000;
    font-size: 18px;
    font-weight: bold;

}

.navigation1 {
    width: 100%;
    max-width: 646px;
}

ul, a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.ul-nav {
    gap: 50px;
}

.home {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.features,
.blog,
.about {
    color: rgb(0, 0, 0, 80%);
    font-size: 16px;
    font-weight: 500;
    height: 22px;
}

.navigation2 {
    width: 100%;
    max-width: 295px;
    height: 37px;
    
}

.ul-login {
    justify-content: end;
    align-items: center;
    gap: 15px;
    height: 37px;
}

.login {
    color: #000000;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    align-items: center;
}

.book-now {
    color: #000000;
    border: 1.5px solid black;
    width: 117px;
    height: 37px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.main-content {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    width: 100%;
}

.hero-text {
    height: 391px;
    width: 457px;
    gap: 40px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.informasi-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tawaran-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 48px;
    font-weight: 500;
    height: 186px;
}

.deskripsi-text {
    font-family: 'DM Sans', sans-serif;
    height: 90px;
    font-weight: 400;
    font-size: 18px;
}

.hero-button {
    display: flex;
    height: 60px;
}

.the-button {
    font-family: 'Source Sans 3', sans-serif;
    max-width: 235px;
    width: 100%;
    background-color: #203271;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.image {
    position: relative;
    width: 50%;
}

.img-green {
    z-index: 1;
    padding-top: 15px;
    position: absolute;
    /* right: 17.5rem; */

}

.img-doctor {
    z-index: 2;
    padding-top: 67px;
    position: absolute;
    /* right: 18rem; */
}

/* bagian melayang chat testimoni */

.testimoni {
    width: 292px;
    height: 182px;
    background-color: #ffffff;
    gap: 12px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    right: 1rem;
}

.header-testi {

}

.profil {

}

.img-profil {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.name-text {

}

.string {

}

.img-string1 {

}

.img-string2 {

}

.testi-text {

}

.bagian-bawah {
    display: flex;
    background-color: #4f7272;
    justify-content: center;
}

/* bagian informasi bawah */

.informasi {
    display: flex;
    flex-direction: row;
    width: 75%;
    background-color: bisque;

}

.featur {

}

.img-featur {

}

.img-feat {
    width: 35px;
    height: 35px;
}

.featur-text {

}

.featur-texttt {

}

.featur-textt {

}

/* @media (max-width: 1400px) {
    .img-green {
        right: 1.3rem;
    }

    .img-doctor {
        right: 1.8rem;
    }
} */

@media (max-width: 770px) {
    .hola-logo {
        justify-content: center;
    }

    .navigation1,
    .ul-nav,
    .navigation2,
    .ul-login ul li a{
        display: none;
    }
}