*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;

}

.parents {
    display: flex;
    background-color: red;
    height: 100vh;
    justify-content: center;
}

.component {
    display: flex;
    flex-direction: column;
    max-width: 1316px;
    padding-inline: 3rem;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 75px;
    padding-top: 2rem;
    gap: 50px;
    position: fixed;
    justify-content: space-between;
    z-index: 4;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
    padding-right: 3rem;
    top: 0px;
    max-width: 1220px;
    width: 100%;
}

.hola-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    /* max-width: 199px; */
    /* width: 100%; */
    height: 37px;
}

.stethoscope {
    width: 24px;
    height: 24px;
}

.img-stethos {
    width: 24px;
    height: 24px;
}

.hola-text {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    width: 100%;

}

.navigation1 {
    /* width: 100%; */
    /* max-width: 646px; */
    height: 37px;

}

ul, a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.ul-nav {
    gap: 50px;
    align-items: center;
    height: 37px;
}

.home {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.features,
.blog,
.about {
    color: rgb(0, 0, 0, 80%);
    font-size: 16px;
    font-weight: 500;
    height: 22px;
}

.navigation2 {
    /* width: 100%; */
    /* max-width: 295px; */
    height: 37px;
}

.ul-login {
    justify-content: end;
    align-items: center;
    gap: 15px;
    height: 37px;
}

.login {
    color: #000000;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    align-items: center;
}

.book-now {
    color: #000000;
    border: 1.5px solid black;
    width: 117px;
    height: 37px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    max-height: 787px;
    height: 100%;
}

.hero-text {
    height: 391px;
    max-width: 457px;
    gap: 40px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.informasi-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tawaran-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 48px;
    font-weight: 500;
    height: 186px;
}

.deskripsi-text {
    font-family: 'DM Sans', sans-serif;
    height: 90px;
    font-weight: 400;
    font-size: 18px;
}

.hero-button {
    display: flex;
    height: 60px;
}

.the-button, .aaa {
    font-family: 'Source Sans 3', sans-serif;
    max-width: 235px;
    width: 100%;
    background-color: #203271;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
}

.image {
    position: relative;
    width: 100%;
    height: auto;
}

.img-green {
    z-index: 1;
    top: -60px;
    position: absolute;
    right: 0rem;

}

.img-doctor {
    z-index: 2;
    top: -7px;
    position: absolute;
    right: 0rem;
}

/* bagian melayang chat testimoni */

.testimoni {
    display: flex;
    flex-direction: column;
    width: 292px;
    height: 182px;
    background-color: #ffffff;
    gap: 12px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    padding: 20px;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 10%)
}

.header-testi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profil {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.img-profil {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.name-text {
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 12px;
}

.testi-text {
    font-size: 12px;
    font-family: 'Source Sans 3';
}

.bagian-bawah {
    display: flex;
    justify-content: center;
}

/* bagian informasi bawah */

.informasi {
    display: flex;
    flex-direction: row;
    width: 75%;
    background-color: bisque;

}

.featur {

}

.img-featur {

}

.img-feat {
    width: 35px;
    height: 35px;
}

.featur-text {

}

.featur-texttt {

}

.featur-textt {

}

@media (max-width: 1200px) {
    .testimoni {
        display: none;
    }

}

@media (max-width: 770px) {
    .hola-logo {
        justify-content: center;
    }

    .navigation1,
    .ul-nav,
    .navigation2,
    .ul-login ul li a{
        display: none;
    }
}