*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

}

.navbar {

}

.hola-logo {

}

.stethoscope {

}

.img-stethos {

}

.hola-text {

}

.navigation1 {

}

.ul-nav {

}

.home {

}

.features {

}

.blog {

}

.about {

}

.navigation2 {

}

.ul-login {

}

.login {

}

.ul-book {

}

.book-now {

}

.main-content {

}

.hero-text {

}

.informasi-text {

}

.tawaran-text {

}

.deskripsi-text {

}

.hero-button {

}

.the-button {

}

.image {

}

.img-green {

}

.img-doctor {

}

.testimoni {

}

.header-testi {

}

.profil {

}

.img-profil {

}

.name-text {

}

.string {

}

.img-string1 {

}

.img-string2 {

}

.testi-text {

}

.informasi {

}

.kalender {

}

.img-featur1 {

}

.img-kalender {

}

.featur-text {

}

.featur-text1 {

}

.featur-text2 {

}

.lonceng {

}

.img-featur2 {

}

.img-bell {

}

.featur-textt {

}

.featur-text3 {

}

.featur-text4 {

}

.webcam