*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    min-height: 100vh;
    background-color: #ecf8ff;
    justify-content: center;
    align-items: center;
}

/* pembatas */

.container-main {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 601px;
    height: 228px;
    padding: 31px;
    padding-top: 35px;
    gap: 15px;
    align-items: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

/* pembatas */

.header-msg {
    display: flex;
    flex-direction: row;
    width: 539px;
    height: 50px;
    justify-content: space-between;
}

.profil {
    display: flex;
    flex-direction: row;
    width: 167px;
    height: 50px;
    gap: 22px;
}
.profil-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.name {
    display: flex;
    flex-direction: column;
}
.p-name1 {

}
.p-name2 {

}

.logos-twitt {
    display: flex;
    align-items: center;
}
.twitter-img {
    width: 27px;
    height: 27px;
}
/* pembatas */

.text-msg {

}

/* pembatas */

.bottom-msg {

}

.like {

}
.like-msg {

}
.heart-button {

}
.like-img {
    width: 21px;
    height: 18px;
}
.the-like {
    
}
.date-text {

}
/* pembatas */