*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    font-family: 'source sans pro', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #ecf8ff;
    justify-content: center;
    align-items: center;

}

/* pembatas */

.container-main {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 291px; /* */
    height: 268px; /* */
    padding: 31px; /* */
    padding-top: 35px; /* */
    gap: 15px;
    overflow: hidden;
    align-items: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 15px 60px 0 rgb(29, 161, 242, 0.15)
}

/* pembatas */

.header-msg {
    display: flex;
    flex-direction: row;
    width: 235px;
    height: 50px;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: row;
    width: 167px;
    height: 50px;
    gap: 22px;
    align-items: center;
}
.profil-img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    object-fit: cover;
}
.name {
    display: flex;
    flex-direction: column;
}
.p-name1 {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}
.p-name2 {
    color: #000000;
    opacity: 60%;
    font-size: 16px;
    word-wrap: break-word;
}

.logos-twitt {
    display: flex;
    align-items: center;
}
.twitter-img {
    width: 27px;
    height: 27px;
}
/* pembatas */

.text-msg {
    font-size: 16px;
    color: #000000;
    word-wrap: break-word;
}
a {
    color: #1da1f2;
    text-decoration: none;
}

/* pembatas */

.bottom-msg {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.like {
    display: flex;
}
.like-msg {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.heart-button {
    background-color: transparent;
    border: none;
}
.like-img {
    width: 21px;
    height: 21px;
    color: #000000;
    opacity: 60%;
    font-weight: 600;
}
.the-like {
    font-size: 16px;
    color: #000000;
    opacity: 60%;
    font-weight: 600;
}
.date-text {
    font-size: 16px;
    color: #000000;
    opacity: 60%;
    font-weight: 600;
}
/* pembatas */

/* responsif */

@media (min-width: 400px) {
    .container-main {
        width: 351px;
        height: 248px;
    }

    .header-msg {
        justify-content: space-between;
        width: 289px;
        height: 50px;
    }
}

@media (min-width: 500px) {
    .container-main {
        width: 401px;
        height: 228px;
    }

    .header-msg {
        justify-content: space-between;
        width: 339px;
        height: 50px;
    }
}

@media (min-width: 600px) {
    .container-main {
        width: 501px;
        height: 228px;
    }

    .header-msg {
        justify-content: space-between;
        width: 439px;
        height: 50px;
    }
}

@media (min-width: 700px) {
    .container-main {
        width: 601px;
        height: 228px;
    }

    .header-msg {
        justify-content: space-between;
        width: 539px;
        height: 50px;
    }
}