@import "tailwindcss";

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 135px;
}

:root {
    --shadow: 0px 15px 8px rgb(0, 0, 0, 0.1);
    --color: #4475F2;
    --background-color: #4475F2;
}