@import "tailwindcss";

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 135px;
}

:root {
    --shadow: 1px 12px 12px rgb(0, 0, 0, 0.08);
    --color: #4475F2;
    --background-color: #4475F2;
}

#nav:active {
    color: #4475F2;
}
#nav:hover {
    color: #4475F2;
}
